dist/*
.cache
public
node_modules
*.esm.js
cache
package.json
package-lock.json
CHANGELOG.md
.yarn
dist
build
.contentlayer
CODE_OF_CONDUCT.md
Security.md
tsconfig.json
README.md
postcss.config.js
next.config.js
.eslintrc.json
prettier.config.js
tailwind.config.ts

.next/
